<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login & Sign Up</title>
    <link rel="stylesheet" href="../css/login-register.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.6.0/css/all.min.css" integrity="sha512-Kc323vGBEqzTmouAECnVceyQqyqdsSiqLQISBL29aUW4U/M7pSPA/gEUZQqv1cwx4OnYxTxve5UMg5GT6L4JJg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    
    <div class="wrapper">
        <span class="bg-animate"></span>
        <span class="bg-animate2"></span>

        <div class="form-box login">
            <h2 class="animation" style="--data:0;">Login</h2>
            <form action="#">
                <div class="input-box animation" style="--data:1;">
                    <input type="text" placeholder="">
                    <label>Username</label>
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="input-box animation" style="--data:3;">
                    <input type="password" placeholder="">
                    <label>Password</label>
                    <i class="fa-solid fa-lock"></i>
                </div>

                <button type="submit" class="btn animation" style="--data:4">Login</button>

                <div class="reg-link animation" style="--data:4;">
                    <p>Don't have an account? <a href="#" class="signup-link">Sign Up</a></p>
                </div>
            </form>
        </div>

        <div class="info-text login">
            <h2 class="animation" style="--data:0;">Welcome Back!</h2>
            <p class="animation" style="--data:1">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>

        <div class="form-box signup">
            <h2 class="animation">Sign Up</h2>
            <form action="#">
                <div class="input-box animation" style="--data:17">
                    <input type="text" placeholder="">
                    <label>Username</label>
                    <i class="fa-solid fa-user"></i>
                </div>

                <div class="input-box animation" style="--data:18">
                    <input type="email" placeholder="">
                    <label>Email</label>
                    <i class="fa-solid fa-envelope"></i>
                </div>

                <div class="input-box animation" style="--data:19">
                    <input type="password" placeholder="">
                    <label>Password</label>
                    <i class="fa-solid fa-lock"></i>
                </div>

                <button type="submit" class="btn animation" style="--data:20">Sign Up</button>

                <div class="reg-link animation" style="--data:21">
                    <p>Already have an account? <a href="#" class="login-link">Login</a></p>
                </div>
            </form>
        </div>

        <div class="info-text signup">
            <h2 class="animation" style="--data:22">Welcome Back!</h2>
            <p class="animation" style="--data:23">Lorem ipsum dolor sit amet consectetur adipisicing.</p>
        </div>
    </div>

    <script src="../js/script.js"></script>
</body>
</html>
